<template>
  <setting-layout>

    <div class="setting_password_container">
        <div class="setting_file_upload_container">
          <div class="setting_subject">
            <div class="subject_icon_container">
              <upload-icon-bg class="background_subject_icon"></upload-icon-bg>
            </div>
            Password Setting
          </div>
          <div class="setting_file_container">
            <div class="setting_file"></div>
          </div>
        </div>
    </div>

    <div class="setting_password_keyboard_container">
      <div class="admin_login_keyboard_container">
        <virtual-keyboard @set-input="setInput" :layouts="layout"></virtual-keyboard>
      </div>
    </div>

    <div @click="savePassword" class="setting_password_save_container">
      Password Save
    </div>

  </setting-layout>
</template>

<script>
  import uploadIconBg from '@/assets/upload-button-b.svg';
  import virtualKeyboard from '@/components/virtualKeyboard';
  import {writePassword} from './passwordSetting.js'
  export default {
    components: {
      uploadIconBg,
      virtualKeyboard,
    },
    name: 'passwordSetting',
    data() {
      return {
        password: '0000',
        input: '',
        layout: {
          layoutsLowerCase: [
            ['0','1','2','3','4'],
            ['5','6','7','8','9'],
          ]
        },
      }
    },
    methods: {
      setInput(item) {
        this.input = item;
      },
      savePassword() {
        writePassword(this.input.value);
        this.$EventBus.$emit('save-password');
      }
    },
  }
</script>

<style lang="scss">

.setting_password_container {
  .setting_file {
    width: 100% !important;
  }
  
}

.password_form {
  position: relative;
  height: 1100px !important;
  top: -70%;
  z-index: 10;
}
.setting_password_save_container {
  position: relative;
  width: 100%;
  height: 100px;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
  line-height: 3;
  color: #ffffff;
  background: #ff4040;
}

.setting_password_keyboard_container {

.admin_login_keyboard_container {
      padding-bottom: 5%;
      padding-top: 5%;
      width: 100%;
      margin: auto;
      // background-color: rgba(234, 234, 234, 0.8);
    }
    .admin_login_button_container {
      margin-top: 2%;
      width: 100%;
      height: 70px;
      text-align: center;
    }
    .admin_button {
      display: inline-block;
      width: 25%;
      height: 100%;
      font-size: 30px;
      line-height: 2.3;
      border: 1px black solid;
    }
    .admin_button_back {
      color: white;
    }
    .admin_button_enter {
      color: white;
      margin-left: 10px;
    }
    .admin_login_keyboard_container > .keyboard > .keyboard_button_container {
      text-align: center;
    }
    .keyboard {
      width: 100%;
      margin: auto;
    }
    .keyboard_input_container {
      // display: none;
      position: absolute;
      width: 100%;
      transform: translate(-7%, -200%);
      margin-bottom: 7%;
    }
    .keyboard_input_div {
      width: 80%;
    }
    .keyboard_input {
      border: none;
      outline: none;
      background: #eaeaea;
    }
    .Delete {
      right: 5%;
    }
    .keyboard_button {
      height: 100%;
      width: 100%;
      font-size: 30px;
      border-radius: 10px;
      background: white;
      box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white;
    }
    .keyboard_button_div {
      width: 15%;
      height: 125px;
      margin-right: 2.5%;
    }
    .line {
      margin-bottom: 4%;
    }
    .line > .button_div_4 {
      margin-right : 0;
    }
}

</style>
