<template>
  <div class="photo_frame_select_container"
  @click="savePosition"
  @mousemove="draging"
  @touchmove="draging"
  @mouseup="dragend"
  @touchend="dragend">
    <div class="canvas_container">
      <canvas
      ref="preview"
      class="preview_canvas"
      :width="canvasWidth"
      :height="canvasHeight"
      @mousedown="dragBefore"
      @touchstart="dragBefore">
      </canvas>
      <div v-show="isCanvasBlock && !isAdmin" @click="isCanvasBlock = false" class="preview_block_container">
        <div class="preview_block_text">
          <i class="fas fa-arrows-alt"></i><br>Drag
        </div>
      </div>
    </div>
    <div v-show="this.$store.state.photoFrame.frames.length !== 1">
      <div @click="setFrameIndex(-1)" class="frame_select frame_select_left">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div @click="setFrameIndex(1)" class="frame_select frame_select_right">
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    drawImageCover, 
    getFramePosition
    } from './canvas-draw.js'
  import {
    FRAME_PATH, 
    ASSETS_DIR
    } from '@/common/config'

  export default {
    name: 'photoFrameSelect',
    props: {
      selectedPhoto: {
        default: '',
      },
      isAdmin: {
        default: false,
      },
    },
    data() {
      return{
        canvasWidth: 1200,
        canvasHeight: 1800,
        canvas: '',
        ctx: '',
        invisibleCanvas: '',
        invisibleCtx: '',
        framePosition: [],
        frameIndex: 0,
        drag_original_x: 0,
        drag_original_y: 0,
        drag_delta_x: 0,
        drag_delta_y: 0,
        offsetX: 0.5,
        offsetY: 0.5,
        isDrag: false,
        isCanvasBlock: true,
      }
    },
    methods: {
      setFrameIndex(num) {
        this.frameIndex += num;
        const frameLength = this.$store.state.photoFrame.frames.length
        if (this.frameIndex === -1) this.frameIndex = frameLength - 1;
        if (this.frameIndex === frameLength) this.frameIndex = 0; 
        this.setFramePosition();
      },
      setFramePosition() {
        if (this.framePosition[this.frameIndex]) {
          this.drawCanvas();
          return;
        }
        let image = new Image();
        image.onload = () => {
          this.framePosition[this.frameIndex] = getFramePosition(this.ctx, image);
          this.drawCanvas();
        }
        image.src = `${ FRAME_PATH }${ this.$store.state.photoFrame.frames[this.frameIndex] }`;
      },
      drawCanvas() {
        let image = new Image();
        image.onload = () => {
          const position = this.framePosition[this.frameIndex];
          drawImageCover(this.ctx, image, position.x1, position.y1, position.x2, position.y2, this.offsetX, this.offsetY);
          this.drawFrame();
        }
        if (this.$props.isAdmin) image.src = `${ ASSETS_DIR }invisible.png`
        else image.src = this.$props.selectedPhoto;
      },
      drawFrame() {
        let image = new Image();
        image.onload = () => {
          this.ctx.drawImage(image, 0, 0);
        }
        image.src = `${ FRAME_PATH }${ this.$store.state.photoFrame.frames[this.frameIndex] }`;
      },
      dragBefore(e) {
        this.isDrag = true;
        ({ clientX: this.drag_original_x, clientY: this.drag_original_y } = e.changedTouches ? e.changedTouches[0] : e);
      },
      draging(e) {
        e.preventDefault();
        if (this.isDrag) {
          const { clientX, clientY } = e.changedTouches ? e.changedTouches[0] : e;
          this.drag_delta_x = clientX - this.drag_original_x;
          this.drag_delta_y = clientY - this.drag_original_y;
          this.drag_original_x = clientX;
          this.drag_original_y = clientY;
          this.offsetX -= (this.drag_delta_x / 1000);
          this.offsetY -= (this.drag_delta_y / 1000);
          this.offsetX = Math.min(Math.max(this.offsetX, 0), 1);
          this.offsetY = Math.min(Math.max(this.offsetY, 0), 1);
          this.drawCanvas();
        }
      },
      dragend() {
        this.drag_delta_x = 0;
        this.drag_delta_y = 0;
        this.isDrag = false;
      },
      savePosition() {
        const canvas = this.$refs.preview ;
        const ctx = canvas.getContext('2d');
        // this.canvas.getContext('2d');
      },
    },
    computed: {
      
    },
    watch: {
      selectedPhoto() {
        const photo = this.$props.selectedPhoto
        if (photo === '') this.isCanvasBlock = true;
        else setTimeout(() => {
          this.isCanvasBlock = false;
        }, 3000)
        this.setFramePosition();
      }
    },
    mounted() {
      this.canvas = this.$refs.preview;
      this.ctx = this.canvas.getContext('2d');
      this.$emit('set-canvas', this.canvas);
      if (this.$props.isAdmin) this.setFramePosition();
    },
  }
</script>

<style>

.photo_frame_select_container {
  position: relative;
  display: inline-block;
  top: 5px;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
}
.canvas_container {
  position: relative;
  width: 75%;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
}

.preview_canvas {
  width: 100%;
  height: 100%;
}
.preview_block_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.preview_block_text {
  margin-top: 40%;
  font-size: 100px;
  color: #ffffff;
  line-height: 2;
}
.frame_select_left {
  position: absolute;
  height: 10%;
  top: 45%;
  left: 0;
  margin-left: 30px;
  font-size: 100px;
}
.frame_select_right {
  position: absolute;
  height: 10%;
  top: 45%;
  right: 0;
  margin-right: 30px;
  font-size: 100px;
}

</style>
