<template>
  <div class="admin_main_container">

    <div ref="config_keyboard" v-show="keyboard_className !== ''" class="setting_config_keyboard">
      <virtual-keyboard @set-input="setInput" :layouts="layout"></virtual-keyboard>
    </div>

    <div class="admin_main_header_container">
      <div class="admin_header_left"></div>
      <div class="admin_header_right">
        <i v-if="!isTabName('password')" @click="routing('/password-setting')" class="fas fa-unlock-alt"></i>
        <img v-if="isTabName('password')" @click="routing('/mirroring-setting')" class="admin_header_mirroring" :src="`${ ASSETS_DIR }mirroring.svg`">
        <img @click="goMain" class="admin_header_home" :src="`${ ASSETS_DIR }excute.svg`">
      </div>
    </div>

    <div class="admin_contents_container" > <!-- v-show="!isTabName('password')" -->

      <div class="admin_sample_container">
        <div class="admin_sample_block" :style="isTabName('photoFrame') ? {height: '40%'} : ''"></div>
        <div class="exemple_main_container">
          <ex-main :isAdmin="true" :selectTabName="selectTabName" v-if="!isTabName('print') && !isTabName('password')"></ex-main>
          <ex-print :isAdmin="true" :selectTabName="selectTabName" v-if="isTabName('print')"></ex-print>
        </div>
      </div>
      <div class="admin_setting_container">
        <div class="admin_config_container" :class="passwordForm()">
          <div class="admin_tab_container" v-if="!isTabName('password')">
            <div @click="routing(item.path)" v-for="(item, index) in tabArr" :key="`key_${index}`" :class="`admin_tab tab_${index} ${ item.path === $router.currentRoute.path  ? 'selected_tab' : '' }`" >
              <img v-if="index !== 2" class="tab" :src="`${ ASSETS_DIR }${ item.svg }`">
              <i v-if="index === 2" class="far fa-envelope tab"></i><div>{{item.text}}</div>
            </div>
          </div>
          <div @scroll="scrollEvent" ref="adminScroll"  class="admin_setting_detail_container">

            <div class="setting_main_container">
    
              <div class="setting_contents_container">
                <div class="setting_file_upload_container">
                  <div class="setting_subject">
                    <div class="subject_icon_container">
                      <upload-icon-bg class="background_subject_icon"></upload-icon-bg>
                    </div>
                    Upload Background Image
                  </div>
                  <div class="setting_file_container">
                    <div class="setting_file">{{checkAllBackground()}}</div>
                    <div @click="delBackground" class="setting_file_delete"><i class="far fa-trash-alt"></i></div>
                    <div @click="setBackground" class="setting_file_upload"><upload-icon class="background_upload_icon"></upload-icon></div>
                  </div>
                  <div v-show="isAllBackground && !isTabName('mirroring')" class="setting_background_block"></div>
                </div>
                <div class="setting_detail_container">
                  <slot>
                    
                  </slot>
                </div>
              </div>
            </div>

          </div>
          <div v-show="!isTabName('password')" class="setting_save_container">
            <div class="setting_scroll_div" v-show="!isScrollBottom">Scroll!</div>
            <div class="setting_css_button" v-show="isScrollBottom" @click="isCss = true">CSS</div>
            <div class="setting_save_button"  @click="saveState()">Save</div>
          </div>
          <css-setting
          v-show="isCss"
          @set-isCss="isCss = false"></css-setting>
        </div>
      </div>
      <div class="admin_main_footer_container">
        <div>Copyright ⓒ 2019, Chameleon. All Rights Reserved.</div>
      </div>
    </div>
    <div v-show="result !== ''" class="admin_main_save_result_container">
      {{result}}
    </div>
  </div>
</template>

<script>
  import exMain from '@/pages/main';
  import exPrint from '@/pages/print';
  import virtualKeyboard from '@/components/virtualKeyboard.vue'
  import CssSetting from '@/components/cssSetting'
  import uploadIcon from '@/assets/upload-button.svg';
  import uploadIconBg from '@/assets/upload-button-b.svg';
  import startDrag from './divDrag.js';
  import { copyBackgroundFile, writeJson } from './settingLayout.js';
  import { ASSETS_DIR } from '@/common/config'
  
  export default {
    name: 'admin',
    components: {
      uploadIcon,
      uploadIconBg,
      exMain,
      exPrint,
      CssSetting,
      virtualKeyboard,
    },
    data() {
      return {
        ASSETS_DIR,
        tabArr: [
          {
            path: '/mirroring-setting',
            svg: 'mirroring-b.svg',
            text: 'Mirroring View',
          },
          {
            path: '/photoFrame-setting',
            svg: 'add-frame.svg',
            text: 'Photo Frame Select View',
          },
          {
            path: '/email-setting',
            svg: 'email-button.svg',
            text: 'E-Mail View',
          },
          {
            path: '/print-setting',
            svg: 'print.svg',
            text: 'Photo Print View',
          },
        ],
        selectTabName: 'mirroring',
        scroll: '',
        isScrollBottom: false,
        isCss: false,
        isAllBackground: false,
        result: '',
        layout: {
          layoutsLowerCase:[
              ['1','2','3','4','5','6','7','8','9','0'],
              ['Q','W','E','R','T','Y','U','I','O','P'],
              ['A','S','D','F','G','H','J','K','L'],
              ['#','Z','X','C','V','B','N','M']
            ],
        },
        input: '',
        keyboard_className: '',
        keyboard_styleName: '',
        keyboard_unit: '',
      }
    },
    methods: {
      goMain() {
        this.$router.push({ name: 'main' });
      },
      scrollEvent() {
        if (Math.ceil((this.scroll.scrollTop + this.scroll.clientHeight) / this.scroll.scrollHeight * 100) >= 100)
        this.isScrollBottom = true;
        else 
        this.isScrollBottom = false;
      },
      routing(path) {
        this.$router.push(path)
      },
      isTabName(name) {
        return this.selectTabName === name;
      },
      settingCss(value) { //  value가 CustomCss 내용 - 여기에 저장시키면될듯.
        this.isCss = false;
      },
      passwordForm() {
        if (!this.isTabName('password')) return;
        return 'password_form';
      },
      checkAllBackground() {
        if (this.isAllBackground) return this.$store.state.mirroring.background
        return this.$store.state[this.selectTabName].background
      },
      setInput(item) {
        this.input = item;
        this.input.focus = () => {
          this.$EventBus.$emit('set-value', {
            className: this.keyboard_className,
            styleName: this.keyboard_styleName,
            value: this.input.value,
            unit: this.keyboard_unit,
          })
        }
      },
      setBackground() {
        const file = this.getFileName();
        copyBackgroundFile(file);
        const fileSplit = file.split('\\');
        const fileName = fileSplit[fileSplit.length-1];
        this.$store.commit('setOption', {name: this.selectTabName, key: 'background', value: fileName})
      },
      delBackground() {
        this.$store.commit('setOption', {name: this.selectTabName, key: 'background', value: 'default-bg.png'})
      },
      saveState() {
        if (this.result !== '') return
        this.saveResult();
        writeJson(this.$store.state);
      },
      saveResult() {
        this.result = 'Saved.';
        console.log('얍');
        setTimeout(() => {
          this.result = '';
        },3000);
      },
    },
    mounted() {
      this.scroll = this.$refs.adminScroll;
      this.selectTabName = this.$router.currentRoute.path.replace('/', '').replace('-setting','');
      this.isAllBackground = this.$store.state.mirroring.isAllBackground;
      this.scrollEvent();

      this.$EventBus.$on('set-keyboard', (item) => {
        this.keyboard_className = item.className;
        this.keyboard_styleName = item.styleName;
        this.input.value = item.value;
        this.keyboard_unit = item.unit;
        this.$EventBus.$emit('set-colorPicker', {container: this.$refs.config_keyboard, input: this.input});
      })
      this.$EventBus.$on('save-password', this.saveResult);

      new startDrag(this.$refs.config_keyboard, {
			range: {
				x: 0,
				y: 0,
				w: 0,
				h: 1440,
			}
      });
      
    },
  }
</script>

<style lang="scss">


.setting_config_keyboard {
    position: absolute;
    left: 0px;
    top: 400px;
    width: 1080px;
    height: 400px;
    z-index: 999;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    .keyboard {
      padding-top: 20px;
    }
    .keyboard_input_div {
      margin-left: 0;
    }
    .Delete {
      right: 25%;
    }
    .keyboard_button_container {
      margin-top: 5%;
    }
    .keyboard_button_div {
      width: 5%;
      margin: 5px;
      height: 50px;
    }
    .keyboard_button {
      width: 100%;
      height: 100%;
      font-size: 20px;
      color: #000000;
    }
  }



.admin_main_container {
  width: 100%;
  height: 100%;
  // background: url(~@/assets/adminSample2.png) no-repeat 0 0 / cover;

  .admin_main_header_container {
    height: 8.5%;
    vertical-align: middle;
    background: #2f3238;
  }
  .admin_main_footer_container {
    height: 5%;
    text-align: center;
    font-size: 20px;
    line-height: 4;
    background: #ccc;
    color:#555;
  }
  .admin_header_left {
    position: relative;
    display: inline-block;
    background: url(~@/assets/hashsnap-ci-reversed.png) no-repeat 0 0 / contain;
    top: 30%;
    height: 40%;
    width: 40%;
    margin-left: 60px;
  }
  .admin_header_right {
    position: relative;
    display: inline-block;
    float: right;
    top: 35%;
    right: 8%;
    width: 13%;
    height: 42px;
  }
  .fa-unlock-alt {
    display: inline-block;
    font-size: 40px;
    color: white;
  }
  .admin_header_mirroring {
    display: inline-block;
    width: 40px;
    height: 41px;
  }
  .admin_header_home {
    display: inline-block;
    width: 40px;
    height: 41px;
    float: right;
  }
  .admin_contents_container {
    // background: #f8f8f8; // 이게 배경색
    position: relative;
    height: 91.5%;
  }
  .admin_sample_container {
    position: relative;
    height: 52%;
  }
  .admin_sample_block {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    bottom: 0;
  }
  .admin_setting_container {
    height: 43%;
    margin-top: 5px;
  }
  .admin_config_container {
    position: relative;
    height: 92%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    // border: 1px black solid;
    box-sizing: border-box;
    box-shadow: 0 0 4.9px 0.2px rgba(34, 34, 34, 0.11);
  }
  .admin_tab_container {
    height: 16.5%;
    display: flex;
  }
  .admin_tab {
    display: inline-block;
    width: 25%;
    height: 100%;
    background: #dcdcdc;
    text-align: center;
    line-height: 3;
  }
  .tab {
    position: relative;
    top: 20px;
    width: 40px;
    font-size: 40px;
    margin: auto;
  }
  .selected_tab {
    background: #ffffff;
  }
  .admin_setting_detail_container {
    height: 83%;
    // background: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
  }
  .admin_main_save_result_container {
    position: absolute;
    width: 60%;
    height: 10%;
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 3;
    z-index: 999;
    font-size: 60px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background: #81c147;
  }

  .setting_save_container {
    position: absolute;
    text-align: center;
    height: 58px;
    width: 100%;
    bottom: 0;
  }
  .setting_scroll_div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    background: #2f3238;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 30px;
    opacity: 0.8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .setting_css_button {
    position: absolute;
    display: inline-block;
    right: 80px;
    transform: translateY(-100%);
    color: black;
    font-size: 25px;
    float: right;
    height: 30px;
  }
  .setting_save_button {
    height: 100%;
    width: 100%;
    line-height: 2;
    background: #d84444;
    font-size: 24px;
    color: #ffffff;
  }


  .setting_main_container {
  position: relative;
  // background: #ffffff;
  width: 100%;
  height: 100%;
  .setting_contents_container {
    // height: 100%;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 100px;
  }
  .setting_file_upload_container {
    margin-top: 70px;
    position: relative;
    .setting_file_container {
      margin-top: 30px;
      height: 60px;
    }
    .setting_file {
      display: inline-block;
      width: 85.7%;
      height: 100%;
      font-size: 30px;
      line-height: 1.9;
      text-indent: 20px;
      background: #eaeaea;
    }
    .setting_file_delete {
      display: inline-block;
      float: right;
      width: 7%;
      height: 100%;
      font-size: 25px;
      text-align: center;
      line-height: 2.5;
      background: #ffffff;
    }
    .setting_file_upload {
      display: inline-block;
      float: right;
      text-align: center;
      line-height: 5;
      width: 7%;
      height: 100%;
      background: #d84444;
    }
    .setting_background_block {
      position: absolute;
      width: 100%;
      height: 60px;
      transform: translateY(-100%);
      background: rgba(0, 0, 0, .3);
    }
    .background_upload_icon {
      width: 35px;
      path {
        fill: #ffffff;
      }
    }
  }

}

.subject_icon_container {
  display: inline-block;
  margin-right: 20px;
  width: 30px;
  height: 100%;
  float: left;
}
.setting_subject {
  font-size: 24px;
  height: 35px;
}
.background_subject_icon {
  width: 100%;
  height: 100%;
}
.setting_subject_underline {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 1px;
  background: #eaeaea;
}

.exemple_main_container {
  width: 1080px;
  height: 1920px;
  margin: auto;
  transform: translateY(-25%) scale(0.45);
  text-align: center;
  overflow: hidden;
}

</style>
