<template>
	<div class="colorPicker input-group color-picker-component" ref="colorpicker">
		<!-- <div class="rectangle" :style="rectangle"></div> -->
    <span class="current-color" :style="'background: ' + colors.hex" @click="togglePicker()"></span>
		<input type="text" class="form-control" readonly v-model="colorValue" @focus="showPicker()" @input="updateFromInput" />
		<span class="input-group-addon color-picker-container">
			<!-- <span class="current-color" :style="'background-color: ' + colorValue" @click="togglePicker()"></span> -->
			<chrome-picker :value="colors" @input="updateFromPicker" v-if="displayPicker" />
		</span>
	</div>
</template>

<script>
// https://codepen.io/Brownsugar/pen/NaGPKy
import VueColor from 'vue-color';

export default {
	name: 'ColorPicker',
	props: {
		className: {
			default: '',
		},
		styleName: {
			default: '',
		},
		def: {
			type: String,
			default: '#000000',
		}
	},
	components: {
		'chrome-picker': VueColor.Chrome,
	},
	data() {
		return {
			colors: {
				hex: this.def,
			},
			colorValue: this.def,
			displayPicker: false,
			input: '',
			container: '',
		}
	},
	methods: {
    setSetting(item) {
			this.$store.commit('setStyle', {
				name: this.getRouterName(),
				key: this.$props.className,
				style: this.$props.styleName,
				value: item, })
			this.$EventBus.$emit('set-keyboard', {className: this.$props.className, styleName: this.$props.styleName, value: this.$props.def});
      // this.$emit('set-setting', key, item);
    },
		setColor(color) {
			this.updateColors(color);
			this.colorValue = color;
		},
		updateColors(color) {
			if (color.slice(0, 1) == '#') {
        this.colors = {	hex: color };
        this.setSetting(this.colors.hex);
			}
			else if (color.slice(0, 4) == 'rgba') {
				var rgba = color.replace(/^rgba?\(|\s+|\)$/g,'').split(','),
					hex = '#' + ((1 << 24) + (parseInt(rgba[0]) << 16) + (parseInt(rgba[1]) << 8) + parseInt(rgba[2])).toString(16).slice(1);
				this.colors = {
					hex: hex,
					a: rgba[3],
				}
			}
		},
		showPicker() {
			document.addEventListener('click', this.documentClick);
			this.displayPicker = true;
			this.$EventBus.$emit('set-keyboard', {className: this.$props.className, styleName: this.$props.styleName, value: this.$props.def});
		},
		hidePicker() {
			document.removeEventListener('click', this.documentClick);
			this.displayPicker = false;
			this.$EventBus.$emit('set-keyboard', {className: '', styleName: '', value: ''});
		},
		togglePicker() {
			this.displayPicker ? this.hidePicker() : this.showPicker();
		},
		updateFromInput() {
			this.updateColors(this.colorValue);
		},
		updateFromPicker(color) {
			this.colors = color;
			if (color.rgba.a == 1) {
				this.colorValue = color.hex;
			}
			else {
				this.colorValue = 'rgba(' + color.rgba.r + ', ' + color.rgba.g + ', ' + color.rgba.b + ', ' + color.rgba.a + ')';
			}
		},
		documentClick(e) {
			e.preventDefault();
			e.stopPropagation();
			const el = this.$refs.colorpicker;
			const target = e.target;
			try{
			if (el !== target && !el.contains(target) && this.container !== target && !this.container.contains(target)) {
				this.hidePicker()
			}
			}catch(e) {
				
			}
		}
	},
	watch: {
		colorValue(val) {
			if (val) {
				this.updateColors(val);
				this.$emit('input', val);
			}
		}
	},
	mounted() {
		this.$EventBus.$on('set-colorPicker', (item) => {
				this.input = item.input;
				this.container = item.container;
			})
		this.$EventBus.$on('set-value', (item) => {
			if (item.className === this.$props.className && item.styleName === this.$props.styleName) {
				this.colorValue = item.value;
				this.updateColors(this.colorValue);
			}
				
		})
	},
}
</script>


<style>
  .color-picker-component {
    /* margin: 10px; */
  }
  .form-control {
    width: 70%;
    z-index: 99;
		font-size: 18px;
		line-height: 2.81;
    border: none;
    background: #eaeaea;
  }
  .current-color {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
		margin-left: 17px;
		margin-right: 10px;
    background-color: #000;
    cursor: pointer;
  }
  .vc-input__input {
    height: 40px;
  }
  .vc-chrome {
    width: 500px;
  }
  .color-picker-container {
    z-index: 9999;
  }
  .color_div {
  min-height: 400px;
  }
  .color_setting_div {
    margin: 8px;
    position: relative;
    width: 40%;
    height: 100%;
    float: left;
  }
  .color_input {
    width: 20%;
  }
	.colorPicker {
    width: 100%;
	}
	.vc-chrome {
		position: absolute;
		z-index: 9;
		width: 400px !important;
		margin-top: 20px;
		right: 30px;
	}
	.vc-input__label {
		display: none !important;
	}
	.vc-chrome-toggle-icon {
		display: none !important;
	}
	.vc-input__input {
		height: 40px !important;
		font-size: 40px !important;
	}
	.vc-chrome-alpha-wrap {
		display: none !important;
	}
	.vc-chrome-hue-wrap {
		height: 30px !important;
	}
	.vc-hue-picker {
		height: 30px !important;
	}

	.input-group-addon, .color-picker-container {
/* 		width: 100px;
		height: 30px;
		position: absolute;
		display: grid;
		top: 27px; */
	}
</style>
