<template>
    <div class="css_setting_container">

      <div class="css_top_container">
        <div class="css_top_text">
          Custom CSS
        </div>
        <div class="css_top_x_button" @click="hideCustomCss">
          <i class="far fa-times-circle"></i>
        </div>
      </div>

      <div class="css_textarea_container">
        <textarea class="css_textarea" v-model="customCss">
        </textarea>
      </div>
      
    </div>
</template>

<script>


export default {
  methods: {
    hideCustomCss() {
      this.$store.commit('setOption', {name: this.getRouterName(), key: 'customCss', value: this.customCss});
      this.$emit('set-isCss', this.customCss);
    }
  },
  data() {
      return {
        customCss: '',
      }
  },
  mounted() {
    this.customCss = this.$store.state[this.getRouterName()].customCss
  }
}



</script>
<style>

.css_setting_container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.css_background {
  background: rgb(37, 37, 37);
}
.css_top_container {
  position:relative;
  display: block;
  background: rgb(58, 58, 58);
  width: 100%;
  height: 20%;
  font-size: 40px;
  color: #fff;
  line-height: 3.4;
  padding-bottom: 10px;
}
.css_top_text {
  display:inline-block;
  margin-left: 40px;
}
.css_top_x_button {
  float: right;
  display:inline-block;
  margin-right: 40px;
}
.css_textarea_container {
  width: 100%;
  height: 87.5%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}
.css_textarea {
  width: 100%;
  height: 90%;
  color: green;
  font-size: 40px;
  font-weight: bold;
  border: hidden !important;
  outline: none !important;
  background: rgb(37, 37, 37);
}

</style>