<template>
  <div class="mirroring_container">

  </div>
</template>

<script>
  export default {
    name: 'mirroring',
  }
</script>

<style>
  .mirroring_container {
    position: relative;
    display: inline-block;
    top: 5px;
    width: 57%;
    height: 93.5%;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
  }
</style>
