<template>
  <div class="photo_list_container">
    <div v-for="index in 6" :key="`key_${index}`" 
    :style="photoListStyle(index - 1)"
    :class="photoListClass(index - 1)" 
    @click="photoSelect(index - 1)">
      
    </div>
  </div>
</template>

<script>
  export default {
    name: 'photoList',
    props: {
      photoList: {
        default: [],
      },
      isAdmin: {
        default: false,
      }
    },
    data(){
      return{
        selectIdx: -1,
      }
    },
    methods: {
      photoSelect(idx) {
        this.selectIdx = idx;
        this.$emit('set-selectedPhoto', this.$props.photoList[idx]);
      },
      photoListClass(idx) {
        let temp = `photo`;
        temp += this.selectIdx === idx ? ' photo_selected':'';
        temp += idx === 5 ? ' photo_right' : '';
        return temp;
      },
      photoListStyle(idx) {
        if (this.$props.isAdmin || !this.$props.photoList[idx]) return { background: 'rgba(0, 0, 0, .3)' };
        return { background: `url(${ this.$props.photoList[idx] }) no-repeat 0 0 / cover` }
      },
    },
  }
</script>

<style>

.photo_list_container {
  display: inline-block;
  width: 60%;
  height: 100%;
  margin: auto;
}
.photo {
  float: left;
  display: inline-block;
  width: 15%;
  height: 100%;
  margin-right: 2%;
}
.photo_right {
  margin-right: 0px;
}
/* .photo_selected {
  box-sizing: border-box;
  border: 1px black solid;
} */

</style>
