<template>
  <div class="setting_config_container">

    <div class="setting_config_subject_container">
      <div class="subject_shape"></div>
      <div class="subject_text">{{setting.name}}</div>
    </div>

    <div class="setting_config_contents_container">
      <div class="setting_config_contents" v-for="(item, index) of setting.style" :key="`so_${ index }`">
        <div class="contents_text">
          {{item.text}}
        </div>
        <div class="contents_input_container">
          <div class="contents_color_container" v-if="item.input === 'color'">
            <color-picker 
            :def="$store.state[getRouterName()][setting.class][item.type]" 
            :className="setting.class" 
            :styleName="item.type" ></color-picker>
          </div>
          <div class="contents_size_container" v-if="item.input === 'size'">
            <div class="size_input_container">
              <input 
              @focus="showKeyboard(setting.class, item.type, item.unit)" 
              @blur="hideKeyboard" 
              :value="removeUnit($store.state[getRouterName()][setting.class][item.type])"
              @change="setOption(setting.class, item.type, `${ $event.target.value }${ item.unit }`)" 
              type="text" class="size_input">
            </div>
            <div class="size_unit">
              {{item.unit}}
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
  import colorPicker from './colorPicker';

  export default {
    components: {
      colorPicker,
    },
    props: {
      option: {
        default: {},
      }
    },
    name: 'admin',
    data() {
      return {
        setting: {},
        defalut: '',
        unit: '',
      }
    },
    methods: {
      setOption(className, styleName, value) {
        this.$store.commit('setStyle', {
				name: this.getRouterName(),
				key: className,
				style: styleName,
				value, })
      },
      removeUnit(item) {
        return item.replace('%', '').replace('px', '');
      },
      showKeyboard(className, styleName, unit) {
        this.$EventBus.$emit('set-keyboard', { className, styleName, unit, value: this.removeUnit(this.$store.state[this.getRouterName()][className][styleName]) });
      },
      hideKeyboard() {
        this.$EventBus.$emit('set-keyboard', { className: '', styleName: '', value: '' });      
      },
    },
    mounted() {
      if (this.$props.option !== {}) {
        this.setting = this.$props.option;
      }
      this.$EventBus.$on('set-value', (item) => {
        this.setOption(item.className, item.styleName, item.value + item.unit);
      })
    }
  }
</script>

<style lang="scss">
.setting_config_container {
  height: 100%;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 20px;
}
.setting_config_subject_container {
    display: inline-block;
    width: 37%;
    height: 100px;
  }
  .subject_text {
    border-left: 3px solid black;
    padding-left: 8px;
    font-size: 20px;
  }
  .setting_config_contents_container {
    display: inline-block;
    float: right;
    width: 63%;
  }
  .setting_config_contents {
    display: inline-block;
    width: 50%;
    font-size: 18px;
  }
  .contents_input_container {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    background: #eaeaea;
    // border: 1px solid black;
  }
  .contents_color_container {
    height: 100%;
  }
  .contents_size_container {
    height: 100%;
  }
  .size_input_container {
    display: inline-block;
    width: 70%;
    height: 100%;
  }
  .size_input {
    height: 100%;
    width: 100%;
    background: #eaeaea;
    border: none;
    font-size: 25px;
    text-indent: 10px;
  }
  .size_unit {
    display: inline-block;
    width: 30%;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.9;
    float: right;
    box-sizing: border-box;
    border-left: 1px white solid;
    text-align: center;
  }

</style>
