<template>
  <div class="keyboard">
    <div class="keyboard_input_container">
      <div class="keyboard_input_div">
        <input ref="input" @focus.prevent @click="isMoveFocus = true" @touchstart="isMoveFocus = true" class="keyboard_input" type="text">
      </div>
      <div @click="del" class="Delete">
        <img :src="`${ ASSETS_DIR }x_button.svg`">
      </div>
    </div>
    <div class="keyboard_button_container">
      <div v-for="(layout, line) in nowLayout" :key="`line_${line}`" :class="`line line_${line + 1}`">
        <div v-for="(button, index) in layout" :key="`line_${ line }_button_${index}`" :class="`button_div_${index}`" class="keyboard_button_div">
          <button @mousedown.prevent="setOption(button)" @click.prevent class="keyboard_button" :class="`button_${index}`">
            <shift class="shift_icon" v-if="button === '{Shift}'"></shift> {{keyRename(button)}}
          </button>
        </div>
      </div>
      <div class="line line_public">
        <div v-for="(button, index) in nowLayoutPublic" :key="`line_${ index }`" :class="`button_div_${index}`" class="keyboard_button_div">
          <button @mousedown.prevent="setOption(button)" @click.prevent
          :class="`button_${index}`"
          class="keyboard_button" :key="`public_${index}`">
            <shift class="shift_icon" v-if="button === '{Shift}'"></shift> {{keyRename(button)}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {ASSETS_DIR} from '@/common/config'
  import Shift from '@/assets/shift.svg';

  export default {
    props: {
      layouts: {
        default: [],
      }
    },
    components: {
      Shift,
    },
    data(){
      return{
        ASSETS_DIR,
        input : this.$refs.input,
        inputValue : '',
        nowLowerCase: true,
        nowCountryKor: false,
        isMoveFocus: false,
        nowLayout: '',
        nowLayoutPublic: '',
        koreanJ: [
          'ㄱ', 'ㄲ', 'ㄴ', 'ㄷ', 'ㄸ', 
          'ㄹ', 'ㅁ', 'ㅂ', 'ㅃ', 'ㅅ', 'ㅆ', 
          'ㅇ', 'ㅈ', 'ㅉ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ'],
        koreanM: [
          'ㅏ', 'ㅐ', 'ㅑ', 'ㅒ', 'ㅓ', 
          'ㅔ', 'ㅕ', 'ㅖ', 'ㅗ', 'ㅘ', 'ㅙ', 
          'ㅚ', 'ㅛ', 'ㅜ', 'ㅝ', 'ㅞ', 'ㅟ', 
          'ㅠ', 'ㅡ', 'ㅢ', 'ㅣ' ],
        koreanT: [
          '', 'ㄱ', 'ㄲ', 'ㄳ', 'ㄴ', 'ㄵ', 'ㄶ', 'ㄷ', 'ㄹ', 
          'ㄺ', 'ㄻ', 'ㄼ', 'ㄽ', 'ㄾ', 'ㄿ', 'ㅀ', 'ㅁ', 
          'ㅂ', 'ㅄ', 'ㅅ', 'ㅆ', 'ㅇ', 'ㅈ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ'],
        indexJComb1 : ['ㄳ','ㄵ','ㄶ','ㄺ','ㄻ','ㄼ','ㄽ','ㄾ','ㄿ','ㅀ','ㅄ'],
        indexJComb2 : ['ㄱㅅ','ㄴㅈ','ㄴㅎ','ㄹㄱ','ㄹㅁ','ㄹㅂ','ㄹㅅ','ㄹㅌ','ㄹㅍ','ㄹㅎ','ㅂㅅ'],
        indexMComb1 : ['ㅘ','ㅙ','ㅚ','ㅝ','ㅞ','ㅟ','ㅢ'],
        indexMComb2 : ['ㅗㅏ','ㅗㅐ','ㅗㅣ','ㅜㅓ','ㅜㅔ','ㅜㅣ','ㅡㅣ'],
        jaCode : 'ㄱ'.charCodeAt(0),
        jaCodeLast : 'ㅎ'.charCodeAt(0),
        moCode : 'ㅏ'.charCodeAt(0),
        moCodeLast : 'ㅣ'.charCodeAt(0),
        layoutKorean : {
          layoutsLowerCase: [
            ['ㅂ','ㅈ','ㄷ','ㄱ','ㅅ','ㅛ','ㅕ','ㅑ','ㅐ','ㅔ','{Back}'],
            ['ㅁ','ㄴ','ㅇ','ㄹ','ㅎ','ㅗ','ㅓ','ㅏ','ㅣ','\'','{SEND}'],
            ['{Shift}','ㅋ','ㅌ','ㅊ','ㅍ','ㅠ','ㅜ','ㅡ',',','.','?','{Shift}'],
          ],
          layoutsUpperCase: [
            ['ㅃ','ㅉ','ㄸ','ㄲ','ㅆ','ㅛ','ㅕ','ㅑ','ㅒ','ㅖ','{Back}'],
          ['ㅁ','ㄴ','ㅇ','ㄹ','ㅎ','ㅗ','ㅓ','ㅏ','ㅣ','\"','{SEND}'],
          ['{Shift}','ㅋ','ㅌ','ㅊ','ㅍ','ㅠ','ㅜ','ㅡ','<','>','/','{Shift}'],
          ],
          layoutsPublic: ['{Number}','{Ctrl}','{Country}','{Country}','{SPACE}',`{<}`,`{>}`],
        },
        layoutEnglish : {
          layoutsLowerCase: [
            ['q','w','e','r','t','y','u','i','o','p','{Back}'],
            ['a','s','d','f','g','h','j','k','l','\'','{SEND}'],
            ['{Shift}','z','x','c','v','b','n','m',',','.','?','{Shift}'],
          ],
          layoutsUpperCase: [
            ['Q','W','E','R','T','Y','U','I','O','P','{Back}'],
            ['A','S','D','F','G','H','J','K','L','\"','{SEND}'],
            ['{Shift}','Z','X','C','V','B','N','M','<','>','/','{Shift}'],
          ],
          layoutsPublic: ['{Number}','{Ctrl}','{Country}','{Country}','{SPACE}',`{<}`,`{>}`],
        },
        layoutNumber : {
          layoutsLowerCase: [
            `1234567890{Back}`,
          ],
          layoutsUpperCase: [
            ``,
          ]
        },
        layouts_public : ['@','@gmail.com','{SPACE}','SEND'],
      }
    },
    methods: {
      setOption(key) {
        this.typing(key);
        this.inputValue = this.input.value;
        this.$emit('set-option', 'userName', this.inputValue);
      },
      typing(key) {
        if (key.substring(0, 1) === '{') {
          if (key.indexOf('}') !== -1) {
            this.specialTyping(key); 
            return;
          }
        }
        const keyCode = key.charCodeAt(0);
        const isIndexJ = this.jaCode <= keyCode && keyCode <= this.jaCodeLast;  //  true라면 입력한 키는 자음이고
        const isIndexM = this.moCode <= keyCode && keyCode <= this.moCodeLast;  //  true라면 입력한 키는 모음
        const text = this.input.value
        const text_leng = this.input.value.length;
        const cursor_prevent = this.input.selectionStart;
        const cursor_next = this.input.selectionEnd;
        const text_cursor_prevent = this.input.value.slice(0, cursor_prevent);
        const text_cursor_next = this.input.value.slice(cursor_next, text_leng);
        let resultText = key;

        if(cursor_prevent !== cursor_next) { //  블록으로 지정 or 중간에 글자를 삽입할경우
          this.del(); //  만약 블록으로 지정해뒀다면 지우고 타이핑한 글자만 넣기.
          this.input.value = `${ text_cursor_prevent }${ key }${ text_cursor_next }`;
          this.setFocus(cursor_prevent + 1);
          return;
        }
        if (this.isMoveFocus) {
          this.input.value = `${ text_cursor_prevent }${ key }${ text_cursor_next }`;
          this.isMoveFocus = false;
          this.setFocus(cursor_prevent + 1);
          return;
        }
          if (text_cursor_prevent) { //  먼저 쓴 글자가 있을경우 마지막 글자를 기준으로 새로 써야하니 조건문을 건다.
            let inputLastValue = text_cursor_prevent.substring(cursor_prevent - 1); //  커서위치 기준 이전에 있는 마지막 글자만 가져오기.
            const inputLastValueCode = inputLastValue.charCodeAt(0);

            if (this.jaCode <= inputLastValueCode && inputLastValueCode <= this.moCodeLast) { //  먼저 쓰여있던 텍스트의 마지막글자가 모음 or 자음인지 확인하는 조건
              
              if (this.jaCode <= inputLastValueCode && inputLastValueCode <= this.jaCodeLast) { //  만약 먼저 쓰여있던 마지막글자가 자음이라면.
                
                if (isIndexM) { //  먼저 쓰여있는 글자가 자음이고 입력한 값이 모음이라면 - 합쳐야지!
                  const koreanJNumber = this.koreanJ.indexOf(inputLastValue); // 자음의 순번을 구하고.
                  const koreanMNumber = this.koreanM.indexOf(key)
                  const koreanTNumber = 0;
                  const resultKorean = this.sumKorean(koreanJNumber, koreanMNumber, koreanTNumber);
                  this.input.value = `${ text.substring(0, this.input.selectionStart - 1) }${ resultKorean }${ text_cursor_next }`;
                  this.setFocus(cursor_prevent);
                  return;
                }

              } else if (this.moCode <= inputLastValueCode && inputLastValueCode <= this.moCodeLast) {  //  먼저 쓰여있던 마지막글자가 모음이라면.
                //  먼저 쓰여있던 글자가 모음이라면 그냥 다음에 타이핑하면 끝
              }

            }else if (inputLastValueCode >= 0xAc00 && inputLastValueCode <= 0xAC00 + 0x2BA4){ //  먼저 쓰여있던 텍스트의 마지막 글자가 모음 or 자음이 아닌 한글일 경우
              //마지막 글자를 분해하여 자음, 모음, 받침의 코드를 얻는다.
              let koreanJNumber = this.jChrIndex(inputLastValue);
              let koreanMNumber = this.mChrIndex(inputLastValue);
              let koreanTNumber = this.tChrIndex(inputLastValue);
              console.log(koreanTNumber);

              if (koreanTNumber === 0) {  //  만약 받침이 없을경우 - 받침이 들어갈 수 있다면 들어가야겠지
                
                if (isIndexJ) { //  받침은 자음만 들어가야하므로 자음인지 확인
                  koreanTNumber = this.koreanT.indexOf(key);
                  const resultKorean = this.sumKorean(koreanJNumber, koreanMNumber, koreanTNumber);
                  this.input.value = `${ text.substring(0, this.input.selectionStart - 1) }${ resultKorean }${ text_cursor_next }`;
                  this.setFocus(cursor_prevent);
                  return;
                } else if (isIndexM) {  // 받침없고 입력받은키가 모음이라면?
                  // 만약 앞 글자가 오 였고 다음 ㅏ 를 입력한다면 와 같이 모음이 합쳐져야하므로 조건을 건다
                  const combM = `${ this.koreanM[koreanMNumber] }${ key }`; //  분해한 모음의 번호와 입력받은 모음 합치고..
                  const combIndex = this.indexMComb2.indexOf(combM); // 합쳐지지않은 모음의 배열인 indexMComb2에서 합쳐진 모음이 존재하는지 확인한다.
                  
                  if (combIndex !== -1) { //  만약 모음이 합쳐지는 경우가 존재한다면.
                    const combMText = this.indexMComb1[combIndex]; // 따로 있는 모음으로 합쳐진 모음을 가져온다
                    koreanMNumber = this.koreanM.indexOf(combMText); // 모음 번호 얻기
                    const resultKorean = this.sumKorean(koreanJNumber, koreanMNumber, koreanTNumber);
                    this.input.value = `${ text.substring(0, this.input.selectionStart - 1) }${ resultKorean }${ text_cursor_next }`;
                    this.setFocus(cursor_prevent);
                    return;
                  }

                }

              } else {  //  받침이 있을경우 

                if (isIndexM) { //  받침이 있고 입력받은 키가 모음일경우
                  let textT = this.koreanT[koreanTNumber]; // 받침의 번호를 얻는다 (z 좌표)
                  const combIndex = this.indexJComb1.indexOf(textT); // 받침이 합쳐진 자음인가?

                  if (combIndex !== -1) { // 합쳐진 받침 조건 -> 합쳐진 받침을 잘라서 뒤에것만 가져온다
                    const combTText = this.indexJComb2[combIndex];
                    koreanTNumber = this.koreanT.indexOf(combTText[0]);
                    textT = combTText[1];
                  }else { //  합쳐진 받침이 아니면 그냥 받침을 없애버리고 앞으로 가져온다
                    koreanTNumber = 0;
                  }
                  //  앞 글자는 받침을 하나 빼고 계산해두고.
                  const resultKorean = this.sumKorean(koreanJNumber, koreanMNumber, koreanTNumber);
                  koreanJNumber = this.koreanJ.indexOf(textT);
                  
                  if (koreanJNumber !== -1) { //  뒷글자는 뺀 글자를 모음과 결합시켜 계산한다.
                    koreanMNumber = this.koreanM.indexOf(key);
                    const resultKoreanNext = this.sumKorean(koreanJNumber, koreanMNumber, 0);
                    this.input.value = `${ text.substring(0, this.input.selectionStart - 1) }${ resultKorean }${ resultKoreanNext }${ text_cursor_next }`;
                    this.setFocus(cursor_prevent + 1);
                    return;
                  }

                }else if (isIndexJ) { // 받침이 있고 입력받은 키가 자음일경우
                  //위에 모음 합쳐지는경우가 존재한다면 이랑 동일
                  const combJ = `${ this.koreanT[koreanTNumber] }${ key }`;
                  const combIndex = this.indexJComb2.indexOf(combJ);
                  console.log(combJ, combIndex);
                  if (combIndex !== -1) {
                    const combTText = this.indexJComb1[combIndex];
                    koreanTNumber = this.koreanT.indexOf(combTText);
                    const resultKorean = this.sumKorean(koreanJNumber, koreanMNumber, koreanTNumber);
                    this.input.value = `${ text.substring(0, this.input.selectionStart - 1) }${ resultKorean }${ text_cursor_next }`;
                    this.setFocus(cursor_prevent);
                    return
                  }

                }
              }
            }
          }
          this.input.value = `${ text_cursor_prevent }${ key }${ text_cursor_next }`;
          this.setFocus(cursor_prevent + 1);
      },
      specialTyping(value) {
        const key = value.replace('{','').replace('}','');
        const cursor_prevent = this.input.selectionStart;

        if (key === 'Back') this.del();
        if (key === 'Shift') this.Shift();
        if (key === 'SPACE') this.input.value += ' ';
        if (key === 'Country') this.countryShift();
        if (key === 'Number') return;
        if (key === 'SEND') this.SEND();
        if (key === '<') this.setFocus(cursor_prevent - 1);
        if (key === '>') this.setFocus(cursor_prevent + 1);

      },
      Shift() {
        let layouts = '';

        if (this.nowCountryKor) layouts = this.layoutKorean;
        else layouts = this.layoutEnglish;

        if (this.nowLowerCase) this.nowLayout = layouts.layoutsUpperCase;
        else this.nowLayout = layouts.layoutsLowerCase;

        this.nowLowerCase = !this.nowLowerCase;
      },
      countryShift() {
        let country = '';

        if (this.nowCountryKor) {
          country = this.layoutEnglish;
        } else if (!this.nowCountryKor) {
          country = this.layoutKorean;
        }

        this.nowCountryKor = !this.nowCountryKor;
        this.nowLowerCase = false;
        this.nowLayout = country.layoutsLowerCase;
      },
      setFocus(idx) {
        if (!this.input) return;
        // console.log(idx, this.input.selectionStart, this.input.selectionEnd);
        
        if (this.input.style.width.replace('px','') < this.input.value.length * 11){
          this.input.scrollLeft += 100;
        }

        this.input.focus();
        this.input.selectionStart = this.input.selectionEnd = idx;
      },
      del() {
        const leng = this.input.value.length;
        const cursor_prevent = this.input.selectionStart;
        const cursor_next = this.input.selectionEnd;
        if (cursor_prevent == leng){ //  일반적인삭제
          this.input.value = this.input.value.slice(0, (leng - 1));
          this.setFocus(cursor_prevent);
        } else if (cursor_next == cursor_prevent) { //  중간삭제
          const input_prevent = this.input.value.slice(0, this.input.selectionStart - 1);
          const input_next = this.input.value.slice(this.input.selectionStart, leng);
          this.input.value = `${ input_prevent }${ input_next }`;
          this.setFocus(cursor_prevent - 1);
        } else { // 드래그 삭제
          const input_prevent = this.input.value.slice(0, this.input.selectionStart);
          const input_next = this.input.value.slice(this.input.selectionEnd, leng);
          this.input.value = `${ input_prevent }${ input_next }`;
          this.setFocus(cursor_prevent);
        }
      },
      sumKorean(indexJ, indexM, indexT) {
        // ((z * y길이) + y) * x길이 + x + 0xAC00  // ((자음번호 * 모음전체길이) + 모음번호) * 받침길이 + 받침번호 + 한글 음절 시작코드(0xAC00 or 11184) 
        const code = ((indexJ * 21) + indexM) * 28 + indexT + 0xAC00
        return String.fromCharCode(code);
      },
      jChrIndex(chr) {
        //  한글 음절코드를 이용하여 역으로 자음코드를 알아내는 함수
        const index = ((chr.charCodeAt(0) - 0xAC00) / 28) / 21;
        return parseInt(index);
      },
      mChrIndex(chr) {
        //  한글 음절코드를 이용하여 역으로 모음코드를 알아내는 함수
        const index = ((chr.charCodeAt(0)- 0xAC00) / 28) % 21;
          return parseInt(index);
      },
      tChrIndex(chr) {
        //  한글 음절코드를 이용하여 역으로 받침코드를 알아내는 함수
        const index = (chr.charCodeAt(0) - 0xAC00) % 28;
          return parseInt(index);
      },
      keyRename(key) {
        if (key === '{' || key === '}') return key;
        else return key.replace('{', '').replace('}', '');
      },
    },
    mounted() {
      if (this.$props.layouts !== []) this.layoutEnglish = this.$props.layouts;
      this.nowLayout = this.layoutEnglish.layoutsLowerCase;
      this.nowLayoutPublic = this.layoutEnglish.layoutsPublic;
      this.input = this.$refs.input;
      this.$emit('set-input', this.input);
    },
  }
</script>

<style lang="scss">

button {
  border: none;
  outline: none;
}
.keyboard {
  height: 100%;
}
.keyboard_input_container {
  position: relative;
}
.keyboard_input_div {
  display: inline-block;
  width: 45%;
  margin-left: 10%;
  height: 100%;
}
.keyboard_input {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 40px;
  border: none;
  outline: none;
}
.Delete {
  position: absolute;
  display: inline-block;
  float: right;
  right: 10%;
  width: 10%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.Enter {
  display: inline-block;
  float: right;
  width: 15%;
  height: 75px;
  /* background: url(~@/assets/키오스크아이콘-06.png); */
  background-size: cover;
  background-position: center;
}
.keyboard_button_div {
  display: inline-block;
}
.shift_icon {
  width: 25px;
  transform: translateY(5px);
}

</style>


