<template>
  <setting-layout>
    <div class="setting_mirroring_container">

      <div class="setting_file_upload_container">
        <div class="setting_subject">
          <div class="subject_icon_container">
            <i class="fas fa-cog mirroring_subejct_icon"></i>
          </div>
          Upload Setting File
        </div>
        <div class="setting_file_container">
          <div class="setting_file">{{settingFileName}}</div>
          <div @click="delSetting" class="setting_file_delete"><i class="far fa-trash-alt"></i></div>
          <div @click="setSetting" class="setting_file_upload"><upload-icon class="background_upload_icon"></upload-icon></div>
        </div>
      </div>

      <div class="setting_all_background_container">
        <div class="setting_checkbox_container">
          <input 
          @change="setAllBackground"
          :checked="isAllBackground"
          class="setting_checkbox"
          type="checkbox"> 
        </div>
        <div class="setting_check_subject">
          Use this image as the background for all views
        </div>
      </div>

    </div>
  </setting-layout>
</template>

<script>
  import uploadIcon from '@/assets/upload-button.svg';
  import {readJson, defaultJson} from './mirroringSetting.js'
  
  export default {
    components: {
      uploadIcon,
    },
    name: 'admin',
    data() {
      return {
        settingFileName: 'defalut',
        isAllBackground: false,
      }
    },
    methods: {
      setSetting() {
        const file = this.getFileName();
        const fileContents = readJson(file);
        const fileSplit = file.split('\\');
        const fileName = fileSplit[fileSplit.length-1];
        this.settingFileName = fileName;
        this.$store.commit('setState', fileContents);
      },
      delSetting() {
          this.settingFileName = 'defalut';
          this.$store.commit('setState', defaultJson());
      },
      setAllBackground() {
        this.isAllBackground = !this.isAllBackground;
        this.$store.commit('setOption', {name: this.getRouterName(), key: 'isAllBackground', value: this.isAllBackground});
      },
    },
    mounted() {
      this.isAllBackground = this.$store.state.mirroring.isAllBackground;
    },
  }
</script>

<style>
.mirroring_subejct_icon {
  font-size: 30px;
}
.setting_all_background_container {
  margin-top: 5%;
}
.setting_checkbox_container {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  float: left;
}
.setting_checkbox {
  width: 100%;
  height: 100%;
}
.setting_check_subject {
  float: left;
  display: inline-block;
  font-size: 25px;
}
</style>
