<template>
  <setting-layout>
    <div class="setting_print_container">
      <!-- <div class="setting_subject">
        <div class="subject_icon_container">
          <advertisement class="background_subject_icon"></advertisement>
        </div>
        Upload Advertisement
      </div> -->

      <div class="setting_file_upload_container">
        <div class="setting_subject">
          <div class="subject_icon_container">
            <advertisement class="background_subject_icon"></advertisement>
          </div>
          Upload Advertisement
        </div>
        <div class="setting_file_container">
          <div class="setting_file">{{$store.state.print.advertisement}}</div>
          <div @click="delAdvertisement" class="setting_file_delete"><i class="far fa-trash-alt"></i></div>
          <div @click="setAdvertisement" class="setting_file_upload"><upload-icon class="background_upload_icon"></upload-icon></div>
        </div>
      </div>

      <setting-config v-for="(item, index) in setting" :key="`key_${index}`" :option="item"></setting-config>


    <div class="setting_file_upload_container">
      <div class="setting_subject">
        <div class="subject_icon_container">
          <loading-bar class="background_subject_icon"></loading-bar>
        </div>
        Loading bar On / Off
        <div class="onoffswitch">
              <input @change="setPrintbar($event.target.checked)" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
              <label class="onoffswitch-label" for="myonoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
          </div>
      </div>
    </div>


  <div class="setting_config_container">
    <div class="setting_config_subject_container">
      <div class="subject_shape"></div>
      <div class="subject_text">Loading bar Color</div>
    </div>

    <div class="setting_config_contents_container">
      <div class="setting_config_contents">
        <!-- <div class="contents_text">
          {{item.text}}
        </div> -->
        <div class="contents_input_container">
          <div class="contents_color_container">
            <!-- <div class="color_shape"></div>
            <div></div> -->
            <color-picker :def="$store.state[getRouterName()].video_bar.background" :className="`video_bar`" :styleName="`background`" ></color-picker>
          </div>
        </div>
      </div>
    </div>
  </div>


    </div>
  </setting-layout>
</template>

<script>
  import advertisement from '@/assets/advertisement.svg'
  import uploadIcon from '@/assets/upload-button.svg';
  import loadingBar from '@/assets/loading-bar.svg'
  import settingConfig from '@/components/settingConfig';
  import ColorPicker from '@/components/colorPicker.vue'
  import { copyFile } from './printSetting.js'

  export default {
    components: {
      advertisement,
      uploadIcon,
      loadingBar,
      settingConfig,
      ColorPicker,
    },
    name: 'admin',
    data() {
      return {
        advertisementName: '',
        setting: [{
          name: 'Size',
          class: 'video',
          style: [{
            text: 'Width & Height',
            type: 'width',
            input: 'size',
            unit: '%',
          },
          ]
        },
        {
          name: 'Position',
          class: 'video',
          style: [{
            text: 'Top',
            type: 'top',
            input: 'size',
            unit: 'px',
          },
          {
            text: 'Left',
            type: 'left',
            input: 'size',
            unit: 'px',
          }]
        }],
      }
    },
    methods: {
      setAdvertisement() {
        const file = this.getFileName();
        copyFile(file);
        const fileSplit = file.split('\\');
        const fileName = fileSplit[fileSplit.length-1];
        this.advertisementName = fileName;
        this.$store.commit('setOption', {name: this.getRouterName(), key: 'advertisement', value: this.advertisementName});
      },
      delAdvertisement() {
        this.$store.commit('setOption', {name: this.getRouterName(), key: 'advertisement', value: ''});
      },
      setPrintbar(checked) {
        const display = checked ? 'block' : 'none';
        this.$store.commit('setStyle', {name: this.getRouterName(), key: 'video_bar', style: 'display', value: display});
      }
    },
    mounted() {
      this.advertisementName = this.$store.state.print.advertisement;
    }
  }
</script>

<style lang="scss">

.setting_print_container {
  .setting_file_upload_container {
    margin-bottom: 50px;
  }
}



/* 로딩 체크css */

.onoffswitch {
    position: relative;
    display: inline-block; 
    float: right;
    width: 80px;
    border-radius: 25px;
    border: 9px rgb(248, 248, 248) solid;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 3px solid #f8f8f8; 
    border-radius: 1000px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: 100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 33px; 
    padding: 0; 
    line-height: 30px;
    font-size: 20px; 
    color: white; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "on";
    padding-right: 10px;
    text-align: right;
    background-color: #464646; 
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "off";
    padding-left: 10px;
    background-color: #d84444; 
    color: #FFFFFF;
    border-radius: 30px;
    transform: translateX(-200%);
}
.onoffswitch-switch {
    display: block; 
    width: 30px; 
    margin: 5px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 0px;
    /* border: 2px solid #FFFFFF;  */
    border-radius: 1000px;
    transition: all 0.28s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 40px; 
}
</style>
