<template>
  <setting-layout>
    <div class="setting_email_container">
      <div class="setting_subject">
        <div class="subject_icon_container"><i class="fas fa-fill-drip awesome"></i></div>
        Button Color
      </div>
      <div class="setting_subject_underline"></div>
      <setting-config v-for="(item, index) in setting" :key="`key_${index}`" :option="item"></setting-config>
    </div>
  </setting-layout>
</template>

<script>
  import settingConfig from '@/components/settingConfig';

  export default {
    components: {
      settingConfig,
    },
    name: 'admin',
    data() {
      return {
        setting: [{
          name: 'Back Button',
          class: 'back_button',
          style: [{
            text: 'Background',
            type: 'background',
            input: 'color',
          },
          {
            text: 'Icon',
            type: 'color',
            input: 'color',
          }]
        },
        {
          name: 'Send Button',
          class: 'send_button',
          style: [{
            text: 'Background',
            type: 'background',
            input: 'color',
          },
          {
            text: 'Text',
            type: 'color',
            input: 'color',
          }]
        }],
      }
    },
  }
</script>

<style>

.setting_email_container {
  margin-top: 10%;
}


</style>
