<template>
  <div class="main_container" :style="setBackground">
    <custom-style>  
      <!-- 각 컴포넌트마다 customStyle를 import? 부모한테 전부 ? -->
      {{isStepName('mirroring') ?
        `
        ${$store.state.mirroring.customCss}
        ` : ''}}

      {{isStepName('photoFrame') ?
        `
        .main_button_print ${objectReplaceToStyle($store.state.photoFrame.export_button)}
        .main_button_email ${objectReplaceToStyle($store.state.photoFrame.export_button)}
        .frame_select ${objectReplaceToStyle($store.state.photoFrame.frame_arrow)}
        .main_button_privious path:nth-of-type(1) {fill: ${objectReplaceToStyle($store.state.photoFrame.privious_button.background)} }
        .main_button_privious path:nth-of-type(2) {fill: ${objectReplaceToStyle($store.state.photoFrame.privious_button.color)} }
        ${$store.state.photoFrame.customCss}
        ` : ''}}

       {{isStepName('email') ?
        `
        .email_button_back ${objectReplaceToStyle($store.state.email.back_button)}

        .email_previous_icon path:nth-of-type(2) {fill: ${objectReplaceToStyle($store.state.email.back_button.color)} }

        .email_button_send ${objectReplaceToStyle($store.state.email.send_button)}
        ${$store.state.email.customCss}
        ` : ''}}

    </custom-style>
    <email-view v-show="isStepName('email')" :fileName="fileName" @create-file="createImageFile" @set-step="setStep"></email-view>

    <div class="main_contents_container" v-show="!isStepName('email')">
      <div class="main_contents">
        <mirroring v-show="isStepName('mirroring')"></mirroring>
        <photo-frame-select 
        v-show="isStepName('photoFrame')"
        @set-canvas="setCanvas"
        :selectedPhoto="selectedPhoto"
        :isAdmin="isAdmin"></photo-frame-select>
      </div>
      <div class="main_photo_list">
        <photo-list-view @set-selectedPhoto="setSelectedPhoto" :isAdmin="isAdmin" :photoList="photoList"></photo-list-view>
      </div>
      <div v-show="isStepName('photoFrame')" class="main_button_container">
        <div @click="setSelectedPhoto('mirroring')">
          <privious class="main_button_privious"></privious>
        </div>
        <div @click="print" class="main_button_print">PRINT</div>
        <div @click="setStep('email')" class="main_button_email">E-mail</div>
      </div>
    </div>
    <div
    @click="adminCountUp"
     class="main_admin"></div>
  </div>
</template>

<script>
  import mirroring from '@/components/mirroringView'
  import photoListView from '@/components/photoListView'
  import photoFrameSelect from '@/components/photoFrameSelect/photoFrameSelectView'
  import emailView from '@/components/email/emailView'
  import CustomStyle from '@/components/CustomStyle'
  import {
    ASSETS_DIR, 
    MYIMAGE_DIR, 
    BACKGROUND_PATH
    } from '@/common/config'
  import {
    adbExec, 
    imageFileWrite
    } from '@/common/file'
  import privious from '@/assets/previous-button-w.svg'

  export default {
    name: 'mainPage',
    props: {
      isAdmin: {
        default: false,
      },
      selectTabName: {
        default: 'mirroring',
      }
    },
    components: {
      mirroring,
      photoListView,
      photoFrameSelect,
      emailView,
      privious,
      CustomStyle,
    },
    data(){
      return{
        stepName: 'mirroring',
        photoList: [],
        selectedPhoto: '',
        adminCount: 0,
        canvas: '',
        fileName: '',
      }
    },
    methods: {
      setSelectedPhoto(photo) {
        if (photo === 'mirroring') {
          this.stepName = 'mirroring';
          this.selectedPhoto = '';
          return;
        }
        if (photo === undefined) return;

        this.stepName = 'photoFrame';
        this.selectedPhoto = photo;
      },
      setStep(name) {
        this.stepName = name;
      },
      print() {
        this.$router.push({ name: 'print', params: { file : 'imsi' } });
      },
      adminCountUp() {
        this.adminCount += 1;
        if (this.adminCount === 10) {
          this.$router.push('/adminLogin');
        }
      },
      setCanvas(can) {
        this.canvas = can;
      },
      createImageFile(callback) {
        this.fileName = imageFileWrite(this.canvas);
        callback(this.fileName);
      },
      isStepName(name) {
        return this.stepName === name;
      },
      styleGetter(name, style) {
        return this.stepName === name ? this.objectReplaceToStyle(style) : '';
      },
      
    },
    computed: {
      setBackground() {
      return this.$store.state.mirroring.isAllBackgroun ? 
      { background: `url(${ BACKGROUND_PATH }${ this.$store.state.mirroring.background }) no-repeat 0 0 / contain` }
      : { background: `url(${ BACKGROUND_PATH }${ this.$store.state[this.stepName].background }) no-repeat 0 0 / contain` }
    },
    },
    mounted() {
      if (!this.$props.isAdmin){
        setInterval(() => {
            this.photoList = adbExec(this.photoList);
            if (this.photoList.length === 0) {
              this.selectedPhoto = '';
            }else {
              this.photoList = this.photoList.map(x => `${ MYIMAGE_DIR }${ x }`);
            }
        },3000)
      }
    },
    watch: {
      selectTabName() {
        this.stepName = this.$props.selectTabName;
      }
    }
  }
</script>

<style>
.main_container {
  position: relative;
  width: 100%;
  height: 100%;
}
.main_contents_container {
  position: relative;
  top: 15%;
  text-align: center;
  width: 100%;
  height: 65%;
  margin: auto;
}
.main_contents {
  width: 100%;
  height: 100%;
}
.main_photo_list {
  width: 100%;
  height: 8.5%;
}
.main_button_container {
  width: 60%;
  height: 8%;
  margin: auto;
  margin-top: 2.5%;
}
.main_button_privious {
  display: inline-block;
  width: 15%;
  float: left;
}
.main_button_print {
  display: inline-block;
  color : #ffffff;
  background: #4762AB;
  width: 40%;
  height: 100%;
  line-height: 3;
  border-radius: 50px;
  font-size: 30px;
}
.main_button_email {
  display: inline-block;
  color : #ffffff;
  float: right;
  background: #4762AB;
  width: 40%;
  height: 100%;
  line-height: 3;
  font-size: 30px;
  border-radius: 50px;
}
.main_admin {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  /* background: rgba(0, 0, 0, .3); */
}
</style>
