<template>
  <div class="print_container" :style="setBackground">

    <custom-style>

      {{`
        .video ${objectReplaceToStyle($store.state.print.video)}
        .print_bar ${objectReplaceToStyle($store.state.print.video_bar)}
        `}}
      {{`
        @keyframes slide {
          from {
            width: 0%;
          }

          to {
            width: 100%;
          }
        }
        .slide {
          animation-duration: ${duration}s;
          animation-name: slide;
          animation-iteration-count: infinite;
        }
        `}}

    </custom-style>

    <div class="printing">
        <div class="video">

          <div>
              <div 
              ref="videoBar"
              class="print_bar slide">
              </div>
          </div>

          <video 
            ref="video_el"
            :src="`${ VIDEO_PATH }${ advertisement }`"
            @ended="end">
          </video>

        </div>
    </div>
  </div>
</template>

<script>
import { 
  RESULTIMAGE_DIR, 
  VIDEO_PATH, 
  BACKGROUND_PATH
  } from '@/common/config'
import Velocity from 'velocity-animate'
import CustomStyle from '@/components/CustomStyle'

export default {
  components: { CustomStyle },
  props: {
    isAdmin: {
      default: false,
    },
    selectTabName: {
      default: -1,
    },
  },data(){
    return {
      printing: false,
      advertisement: 'video-0.mp4',
      video_el: '',
      video_bar: '',
      video_duration: 20.880,
      VIDEO_PATH,
      BACKGROUND_PATH,
    }
  },
  methods: {
    end() {
      if (this.$props.isAdmin) {
        this.video_bar.className = 'print_bar';
        this.videoStart();
        return;
      }
      else this.$router.push({ name: 'main' });
    },
    videoStart() {
      //printImage( RESULTIMAGE_DIR + this.$store.state.resultFileName );
      setTimeout(() => {
        this.video_duration = this.video_el.duration; 
        this.video_bar.className = 'print_bar slide';
        this.video_duration = this.video_el.duration; 
        this.video_el.currentTime = 0;
        this.video_el.play();
      }, 100)
    },
  },
  watch: {
  },
  mounted() {
    this.advertisement = this.$store.state.print.advertisement;
    this.video_bar = this.$refs.videoBar
    this.video_el = this.$refs.video_el;
    this.videoStart();
  },
  computed: {
    duration() {
      return this.video_duration;
    },
    setBackground() {
      return this.$store.state.mirroring.isAllBackgroun ? 
      { background: `url(${ BACKGROUND_PATH }${ this.$store.state.mirroring.background }) no-repeat 0 0 / contain` }
      : { background: `url(${ BACKGROUND_PATH }${ this.$store.state.print.background }) no-repeat 0 0 / contain` }
    },
  },
}

</script>

<style>


.print_container {
  width: 100%;
  height: 100%;
}
.printing {
  position: relative;
  height: 100%;
  z-index: 2;
}
.video {
  width: 100%;
  bottom:0px;
  background: black;
  overflow: hidden;
  position: relative;
}
.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.print_end_guide {
  left: 50%;
  top: 35%;
  position:absolute;
  transform: translateX(-50%);
  font-size: 50pt;
  text-align: center;
  white-space: nowrap;
  z-index: 0;
}
.print_bar {
  width: 100%;
  height: 20px;
  z-index: 4;
  background-color:red;
}

</style>
