<template>
  <div class="admin_login_background" :style="setBackground">
    <div class="admin_login_container">
      <div class="admin_login_keyboard_container">
        <div v-show="result !== ''" class="admin_login_result_container">
          <div class="admin_login_result_text">
            <img width='80' height='80' :src="`${ ASSETS_DIR }warn.svg`"><br>
            {{result}}
          </div>
        </div>
        <virtual-keyboard @set-input="setInput" :layouts="layout"></virtual-keyboard>
      </div>
      <div class="admin_login_button_container">
        <div @click="goMain" class="admin_button admin_button_back">
          <previous-icon class="admin_login_previos_icon"></previous-icon> Back
        </div>
        <div @click="login" class="admin_button admin_button_enter">Enter</div>
      </div>
    </div>
  </div>
</template>

<script>
  import virtualKeyboard from '@/components/virtualKeyboard';
  import { BACKGROUND_PATH, ASSETS_DIR } from '@/common/config';
  import { readPassword } from './adminLogin.js';
  import previousIcon from '@/assets/previous-button-w.svg';
  
  export default {
    name: 'adminLogin',
    components: {
      virtualKeyboard,
      previousIcon,
    },
    data() {
      return {
        ASSETS_DIR,
        layout: {
          layoutsLowerCase: [
            ['0','1','2','3','4'],
            ['5','6','7','8','9'],
          ]
        },
        password: '0000',
        input: '',
        result: '',
      }
    },
    methods: {
      setInput(item) {
        this.input = item;
      },
      login() {
        if (this.password === this.input.value) this.$router.push('/mirroring-setting');
        else this.setResult();
      },
      goMain() {
        this.$router.push({ name: 'main' });
      },
      setResult() {
        this.result = 'You entered the wrong password';
        setTimeout(() => {
          this.result = '';
        }, 3000);
      },
    },
    computed: {
      setBackground() {
        return this.$store.state.mirroring.isAllBackgroun ? 
        { background: `url(${ BACKGROUND_PATH }${ this.$store.state.mirroring.background }) no-repeat 0 0 / contain` }
        : { background: `url(${ BACKGROUND_PATH }${ this.$store.state.password.background }) no-repeat 0 0 / contain` }
      },
    },
    mounted() {
      this.password = readPassword();
      if (!this.password) this.password = '0000';
    },
  }
</script>


<style lang="scss">
  .admin_login_background {
    width: 100%;
    height: 100%;
    background: url(~@/assets/step4.png) no-repeat 0 0 / cover;
    .admin_login_container {
      position: relative;
      top: 35%;
    }
    .admin_login_result_container {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 60%;
      height: 65%;
      border-radius: 20px;
      background: red;
      color: #ffffff;
      font-size: 40px;
      text-align: center;
      z-index: 10;
    }
    .admin_login_result_text {
      margin-top: 10%;
    }
    .admin_login_keyboard_container {
      padding-bottom: 5%;
      padding-top: 5%;
      width: 100%;
      margin: auto;
      background-color: rgba(234, 234, 234, 0.8);
    }
    .admin_login_button_container {
      margin-top: 2%;
      width: 100%;
      height: 70px;
      text-align: center;
    }
    .admin_button {
      display: inline-block;
      width: 25%;
      height: 100%;
      font-size: 30px;
      line-height: 2.3;
    }
    .admin_button_back {
      background: #a3a3a3;
      color: black;
    }
    .admin_button_enter {
      background: #ff4040;
      color: white;
      margin-left: 10px;
    }
    .admin_login_previos_icon {
      width: 25px;
      transform: translateY(5px);
    }
    .admin_login_keyboard_container > .keyboard > .keyboard_button_container {
      text-align: center;
    }
    .keyboard {
      width: 60%;
      margin: auto;
    }
    .keyboard_input_container {
      margin-bottom: 7%;
    }
    .keyboard_input_div {
      width: 80%;
    }
    .keyboard_input {
      text-indent: 10px;
      letter-spacing: 5px;
    }
    .keyboard_button {
      height: 100%;
      width: 100%;
      font-size: 30px;
      border-radius: 10px;
      background: white;
    }
    .keyboard_button_div {
      width: 15%;
      height: 97px;
      margin-right: 2.5%;
    }
    .line {
      margin-bottom: 4%;
    }
    .line > .button_div_4 {
      margin-right : 0;
    }
  }
</style>

