<template>
  <div class="email_container">
    <div v-show="result !== ''" :style="resultBackground" class="email_result_container">
      <div class="email_result_text">
        <i v-show="showSuccess" class="fas fa-check-circle" style="font-size: 70px"></i>
        <img v-show="showFail" :src="`${ ASSETS_DIR }/warn.svg`" width="80" height="80">
        <br>
        {{result}}
      </div>
    </div>
    <div class="email_keyboard_container">
      <virtual-keyboard
      @set-input="setInput"
      :layouts="layout"
      ></virtual-keyboard>
    </div>
    <div class="email_button_container">
      <div @click="$emit('set-step', 'photoFrame')" class="email_button email_button_back">
        <previous-icon class="email_previous_icon"></previous-icon> Back
      </div>
      <div @click="send" class="email_button email_button_send">
        <i class="far fa-envelope"></i> SEND
        </div>
    </div>
  </div>
</template>

<script>
  import virtualKeyboard from '@/components/virtualKeyboard';
  import previousIcon from '@/assets/previous-button-w.svg';
  import {ASSETS_DIR} from '@/common/config.js';
  import { 
    sendEmailBefore, 
    sendEmail 
    } from './emailSend';

  export default {
    name: 'emailView',
    props: {
      fileName: {
        default: '',
      }
    },
    components: {
      virtualKeyboard,
      previousIcon,
    },
    data(){
      return {
        ASSETS_DIR,
        layout: {
          layoutsLowerCase: [
            ['1','2','3','4','5','6','7','8','9','0','-','='],
            ['q','w','e','r','t','y','u','i','o','p','[',']'],
            ['a','s','d','f','g','h','j','k','l',';','\''],
            ['{Shift}','z','x','c','v','b','n','m',',','.','/'],
          ],
          layoutsUpperCase: [
            ['1','2','3','4','5','6','7','8','9','0','-','='],
            ['Q','W','E','R','T','Y','U','I','O','P','{','}'],
            ['A','S','D','F','G','H','J','K','L',':','\"'],
            ['{Shift}','Z','X','C','V','B','N','M','<','>','?'],
          ],
          layoutsPublic: ['@','@gmail.com','{SPACE}'],
        },
        input: '',
        result: '',
      }
    },
    methods: {
      setInput(item) {
        this.input = item;
      },
      send() {
        if (this.result !== '') return;
        this.result = 'Sending.....';
        this.$emit('create-file', (fileName) => {
            sendEmailBefore(this.input.value, fileName)
              .then(body => {
                sendEmail(this.input.value, body)
              })
              .then(() => {
                this.result='E-Mail transfer completed.';
                setTimeout(() => {
                  this.result = '';
                }, 3000)
              })
              .catch(() => {
                this.result='E-mail transfer failed.';
                setTimeout(() => {
                  this.result = '';
                }, 3000)
              });

        });

      }
    },
    computed: {
      showSuccess() {
        return this.result === 'E-Mail transfer completed.' ? true : false
      },
      showFail() {
        return this.result === 'E-mail transfer failed.' ? true : false
      },
      resultBackground() {
        let BgColor = '#81c147';
        if (this.result === 'E-Mail transfer completed.') BgColor = 'green'
        if (this.result === 'E-mail transfer failed.') BgColor = 'red'
        return {background: BgColor};
      },
    },
  }
</script>

<style lang="scss">

.email_container {
  width: 100%;
  height: 100%;
  padding-top: 37%;
  .keyboard {
    padding-top: 50px;
  }
  .email_keyboard_container {
  text-align: center;
  margin-top: 23%;
  padding-bottom: 7%;
  background-color: rgba(234, 234, 234, 0.8);
  }
  .email_button_container {
    margin-top: 3%;
    height: 80px;
    text-align: center;
  }
  .email_button {
    display: inline-block;
    height: 100%;
    width: 30%;
    font-size: 25px;
    line-height: 3.1;
    border-radius: 10px;
  }
  .email_previous_icon {
    width: 25px;
    transform: translateY(5px);
    // float: left;
  }
  .email_button_back {
  }
  .email_button_send {
    margin-left: 20px;
  }
  .keyboard_input_container {
    margin-bottom: 5%;
  }
  .keyboard_input_div {
    margin-left: 0;
  }
  .keyboard_input {
  }
  .Delete {
    right: 25%;
  }
  .keyboard_button_container {
    padding-left: 45px;
    padding-right: 45px;
  }
  .keyboard_button_div {
    width: 7%;
    padding-left: 5px;
  }
  .keyboard_button {
    margin: 5px;
    height: 69px;
    width: 100%;
    font-size: 19px;
    border-radius: 10px;
    background: white;
    // box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white;
  }
  .line_4 > .button_div_0 {
    width: calc(14% + 5px);
  }
  .line_public {
    position: relative;
    right: 0px;
  }
  .line_public > .button_div_1  {
    width: calc(14% + 5px);
  }
  .line_public > .button_div_2  {
    width: calc(32% + 20px);
  }

}

.email_result_container {
  position: absolute;
  top: 41%;
  width: 70%;
  border: 1px solid black;
  height: 400px;
  text-align: center;
  left: 50%;
  color: #ffffff;
  font-size: 40px;
  border-radius: 20px;
  transform: translate(-50%);
  z-index: 99;
}
.email_result_text {
  margin-top: 10%;
  line-height: 2;
}

</style>
