<template>
  <setting-layout>
    <div class="setting_frame_container">

      <div class="setting_file_upload_container">
        <div class="setting_subject">
          <div class="subject_icon_container">
            <img class="" :src="`${ ASSETS_DIR }add-frame.svg`">
          </div>
          Upload Frame Image
        </div>
        <div class="setting_file_container" v-for="(item, index) of frames" :key="`f_${ index }`">
          <div class="setting_file">{{item}}</div>
          <div @click="delFrame(index)" class="setting_file_delete"><i class="far fa-trash-alt"></i></div>
          <div @click="setFrame(index)" class="setting_file_upload"><upload-icon class="background_upload_icon"></upload-icon></div>
        </div>
        <div class="setting_addFrame_container">
          <div @click="setFrame()" class="addFrame_button" v-if="frames.length < 3">
          Add Frame + 
          </div>
        </div>
      </div>

      <div class="setting_subject">
        <div class="subject_icon_container"><i class="fas fa-fill-drip awesome"></i></div>
        Button Color
      </div>
      <div class="setting_subject_underline"></div>

      <setting-config v-for="(item, index) in setting" :key="`key_${index}`" :option="item"></setting-config>
      

    </div>
  </setting-layout>
</template>

<script>
  import { ASSETS_DIR } from '@/common/config.js';
  import uploadIcon from '@/assets/upload-button.svg';
  import uploadIconFrame from '@/assets/add-frame.svg';
  import settingConfig from '@/components/settingConfig';
  import { copyFrameFile } from './photoFrameSelectSetting.js'

  export default {
    components: {
      uploadIcon,
      uploadIconFrame,
      settingConfig,
    },
    name: 'admin',
    data() {
      return {
        ASSETS_DIR,
        frames: ['photo-frame-single.png'],
        back_button: {
          background: '',
          color: '',
        },
        setting: [{
          name: 'Back Button',
          class: 'privious_button',
          style: [{
            text: 'Background',
            type: 'background',
            input: 'color'
          },
          {
            text: 'Icon',
            type: 'color',
            input: 'color',
          }]
        },
        {
          name: 'Print/E-mail Button',
          class: 'export_button',
          style: [{
            text: 'Background',
            type: 'background',
            input: 'color',
          },
          {
            text: 'Text',
            type: 'color',
            input: 'color',
          }]
        },
        {
          name: 'Frame Select Button',
          class: 'frame_arrow',
          style: [{
            text: 'Background',
            type: 'color',
            input: 'color',
          }]
        }],
      }
    },
    methods: {
      setFrame(idx) {
        const file = this.getFileName();
        copyFrameFile(file);
        const fileSplit = file.split('\\');
        const fileName = fileSplit[fileSplit.length-1];
        if (idx) this.frames[idx] = fileName;
        else this.frames.push(fileName);
        this.$store.commit('setOption', {name: this.getRouterName(), key: 'frames', value: this.frames});
      },
      delFrame(idx) {
        if (this.frames.length === 1) return
        this.frames.splice(idx, 1);
        this.$store.commit('setOption', {name: this.getRouterName(), key: 'frames', value: this.frames});
      },
    },
  }
</script>

<style>

.setting_addFrame_container {
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.addFrame_button {
  float: right;
  width: 20%;
  height: 50px;
  font-size: 25px;
  line-height: 1.7;
  text-align: center;
  border: 1px black solid;
}

</style>
