<template>
  <div id="app">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <router-view></router-view>

    <div class="connect_guide" v-show="!isConnect">
      <pre class="connect_guide_text">Please check the connection withsmartphone.


If you do not allow Media transfer protocol,
please allow and reboot kiosk.
      </pre>
    </div>

  </div>
</template>

<script>

  import {connectCheck} from '@/common/file'
  export default {
    name: 'my-project',
    data() {
      return {
        isConnect: false,
      }
    },
    mounted() {
      setInterval(() => {
        this.isConnect = connectCheck() ;
      }, 3000);
    },
  }
</script>

<style>
  /* CSS */

  @font-face {
  font-family: 'FreigSanLFProBoo';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/FreigSanLFProBoo.otf');
  }
  * {
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: 'FreigSanLFProBoo';
    /* FreigSanLFProBoo.otf */
  }
  body, #app {
    position: relative;
    width: 1080px !important;
    height: 1920px !important;
    overflow: hidden;
  }
  .connect_guide {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 800px;
    height: 500px;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
    background: rgba(128,128,128,.5);
  }
  .connect_guide_text {
    padding-top: 10%;
  }
</style>
